* {
    margin: 0%;
    padding: 0%;
}

.w {
    width: 1200px;
    margin: 0px auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #f3f5f7;
}

.header {
    height: 42px;
    margin-top: 30px;
}

.logo {
    height: 42px;
    width: 198px;
    float: left;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li{
    float: left;
    margin: 0px 13px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0px 10px;
    line-height: 42px;
    font-size: 18px;
    color: black;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    height: 42px;
    width: 412px;
    margin-left: 50px;
}

.search input {
    float: left;
    height: 40px;
    width: 345px;
    border: 1px solid #00a4ff;
    border-right: none;
    padding-left: 15px;
}

.search button {
    float: left;
    height: 42px;
    width: 50px;
    border: 0;
    background: url(images/button.png);
}

.user {
    float: right;
    margin-right: 50px;
    line-height: 42px;
    font-size: 14px;
    color: #666666;

 /* banner部分 */
}

.banner {
    height: 422px;
    background-color: #1c036c;
    margin-top: 30px;
}

.banner .w {
    height: 422px;
    background: url(images/banner2.png) no-repeat top center;
}

.subnav {
    float: left;
    height: 422px;
    width: 192px;
    background-color: rgba(0,0,0, 0.3);
}

.subnav ul {
    margin: 0px 20px;
}

.subnav ul li {
    height: 46px;
    line-height: 44px;
}

.subnav ul li a {
    color: #fff;
    font-size: 13px;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color:#00a4ff
}

.course {
    float: right;
    width: 230px;
    height: 305px;
    margin-top: 50px;
    background-color: white;
}

.course>h4 {
    height: 48px;
    padding: 0px 65px;
    background-color: #9bceea;
    line-height: 48px;
    font-size: 18px;
    color: white;
}

.bd {
    padding: 0px 20px;
}


.bd ul li {
    padding: 14px 0px;
    border-bottom: 1px solid #a5a5a5;
}

.bd h2 {
    font-size: 14px;
    font-weight: 400;
    color: #4e4e4e;
}

.bd p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd ul a {
    display: inline-block;
    width: 188px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #22b0ff;
    border: 1px solid #22b0ff;
    margin-top: 6px;
}

/* 精品推荐开始 */
.goods {
    height: 60px;
    margin-top: 8px;
    background-color: white;
    box-shadow: 1px 3px 5px 1px rgba(0,0,0, 0.1);
}

.goods h4 a {
    float: left;
    width: 130px;
    height: 60px;
    font-size: 16px;
    color: black;
    line-height: 60px;
    text-align: center;
}

.goods h4 a:hover {
    color: #22b0ff;
}

.goods ul {
    float: left;
    padding-top: 22px;
}

.goods li{
    float: left;
    width: 130px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-left: 1px solid #bfbfbf;
}

.goods li a {
    font-size: 16px;
    color: black;
}

.goods li a:hover {
    color: #22b0ff;
}

.goods h2 {
    float: right;
    width: 57px;
    height: 12px;
    padding-top: 8px;
    padding-right: 20px;
}

.goods h2 a {
    font-size: 12px;
    font-weight: 400;
    color: black;
}

.goods h2 a:hover {
    color: #22b0ff;
}
/* 精品推荐结束 */

/* <!-- 精品推荐开始 --> */
.box {
    height: 598px;
    margin-top: 35px;
}

.box .box_hd {
    height: 42px;
}

.box .box_hd h2 {
    float: left;
    font-size: 20px;
    font-weight: 400;
}

.box .box_hd a {
    float: right;
    padding-top: 10px;
    padding-right: 32px;
    color: #afafaf;
    font-size: 12px;
}

.box .box_hd a:hover {
    color: #22b0ff;
}

.box .box_bd {
    height: 556px;
}

.box .box_bd ul {
    width: 1225px;
}

.box .box_bd ul li {
    position: relative;
    float: left;
    width: 230px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: white;
    transition: all .5s;
}

.box .box_bd ul li #new {
    position: absolute;
    right: -2px;
    top: 2px;
}

.box .box_bd ul li div {
    width: 230px;
    height: 154px;
}

.box .box_bd ul li h2 {
    width: 185px;
    margin-top: 17px;
    padding-left: 24px;
    font-size: 12px;
    font-weight: 400;
}

.box .box_bd ul li .tomato {
    height: 15px;
    padding-left: 25px;
    margin-top: 15px;
}

.box .box_bd ul li .tomato .left {
    float: left;
    font-size: 12px;
    color: #ff7c2d;
}

.box .box_bd ul li .tomato .right {
    float: left;
    font-size: 12px;
    color: #afafaf;
}

.box_bd ul li:hover {
    box-shadow: 1px 3px 5px 1px rgba(0,0,0, 0.1);
}

.dj {
    position: fixed;
    right: 100px;
    top: 100px;
}

.user img {
    padding-right: 10px;
    vertical-align: middle;
}